  <div class='grid grid-flow-row px-4 py-2'>
    <span class='text-black'><%= location[:name] %></span>
    <span class='text-black'><%= location[:point] %></span>
    <%= form_for Location.build, format: :turbo_stream, data: { turbo_frame: 'locations' } do |f| %>
      <%= f.hidden_field :name, value: location[:name] %>
      <%= f.hidden_field :raw_lonlat, value: location[:point] %>
      <%= f.submit 'Добавить', class: 'add-button' %>
    <% end %>
  </div>
